#header1 {
  // position: fixed;
  z-index: 2;
  // width: 20%;
}

#header1 .closeMenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 25px;
  top: 500px;
  cursor: pointer;
}
#header1 .pro-sidebar {
  height: 100vh;
  width: 100%;
  min-width: 100%;
}
#header1 .pro-sidebar.collapsed {
  width: 100%;
  min-width: 100%;
}
#header1 .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header1 .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header1 .pro-sidebar-inner .pro-sidebar-layout .logoText p {
  // font-size: 20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
  // margin-top: 20px;
}
#header1 .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header1 .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 20px;
  font-weight: bold;
}
#header1
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: #fbf4cd;
  color: #000;
  border-radius: 3px;
}
#header1
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}
#header1 .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
}
#LoggedInAs {
  font-size: large;
  margin-top: 20px;
  text-align: center;
}

.pro-sidebar .pro-menu li:hover {
  background-color: rgba(250, 184, 0, 0.924);
}
.pro-sidebar .pro-menu li:hover * {
  color: black;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}

// @media (max-width: 1070px) {
//   #header1 {
//     width: 16%;
//   }
//   #logoText {
//     width: 100vh;
//     height: 50;
//   }
// }

// @media (max-width: 870px) {
//   #header1 {
//     width: 14%;
//   }
// }

// @media (max-width: 670px) {
//   #header1 {
//     width: 12%;
//   }
// }
// @media (max-width: 470px) {
//   #header1 {
//     width: 10%;
//   }
// }
