.student-dashboard {
  .appointment-container {
    .appointment-row {
      margin: 2rem 3rem;
      .title {
        font-size: 1.6rem;
      }

      .student-name {
        font-weight: bolder;
      }

      .teacher-details {
        .teacher-input {
          font-weight: bolder;
        }
        .appointment-btn {
          background-color: rgba(250, 184, 0, 0.624);
          border: none;
          color: black;

          &:hover {
            background-color: rgba(250, 184, 0, 0.924);
            color: black;
          }
        }
      }
    }
  }
}
