.student-dashboard {
  .appointment-container {
    width: 50rem;
    .appointment-row {
      margin: 2rem 3rem;

      .top-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1rem;

        .student-name {
          font-weight: bolder;
        }

        .search-bar {
          input {
            border: 1.5px solid rgb(212, 212, 212);
            border-radius: 5px;
            padding: 0.3rem;

            &:active {
              outline: none;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }

      .teacher-details {
        .teacher-input {
          font-weight: bolder;
        }
        .appointment-btn {
          background-color: rgba(250, 184, 0, 0.624);
          border: none;
          color: black;

          &:hover {
            background-color: rgba(250, 184, 0, 0.924);
            color: black;
          }
        }
      }
    }
  }
}
