.home {
  .home-row {
    .background {
      background-image: url(../../images/HomePage.png);
      height: 100vh;
      margin: 2px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: right;
      align-items: center;
      position: absolute;

      @media (max-width: 576px) {
        background-image: none;
        background-color: rgba(250, 184, 0, 0.924);
      }

      .name {
        margin-right: 13.5rem;
        margin-bottom: 50rem;
        font-size: 5rem;
        font-weight: bold;
        position: absolute;

        @media (max-width: 768px) {
          margin-bottom: 20rem;
          font-size: 2.5rem;
        }

        @media (max-width: 576px) {
          margin-right: 6rem;
          margin-bottom: 15rem;
          font-size: 1.5rem;
        }
      }
      .home-btn {
        margin-right: 4rem;
        margin-bottom: 25rem;
        padding: 1rem;
        font-size: 3rem;
        font-weight: bold;

        @media (max-width: 768px) {
          margin-bottom: 10rem;
          font-size: 2.5rem;
        }

        @media (max-width: 576px) {
          margin-right: 2rem;
          margin-bottom: 5rem;
          font-size: 1.5rem;
        }
        @media (min-width: 768px) {
          margin-right: 12rem;
        }
      }
    }
  }
}
// // Media Query for screens smaller than 768px
// @media only screen and (max-width: 768px) {
//   margin-right: 3rem;
//   margin-bottom: 10rem;
//   font-size: 2rem;
// }

// // Media Query for screens smaller than 576px
// @media only screen and (max-width: 576px) {
//   margin-right: 1rem;
//   margin-bottom: 5rem;
//   font-size: 1.5rem;
// }
