.home {
  max-height: 200vh;
  .home-row {
    .background {
      height: 100vh;
      background-image: url(../../images/school-notebook-background-3d-flying-260nw-1782100640.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .home-btn {
        margin-left: 1rem;
        padding: 1rem;
        font-size: 2rem;
        font-weight: bolder;
      }
    }
  }
  .card {
    .card-body {
      height: 5vh;
      margin: 2rem 0;
      text-align: center;
    }
  }
  .container {
    background-color: rgba(124, 63, 255, 0.707);
    border-radius: 2rem;
    .about {
      height: 42vh;

      .about1 {
        padding-top: 1rem;
      }

      .about2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .card-group {
    padding: 2rem;

    .card {
      margin: 0;
      border: none;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .card-img-top {
        height: 150px;
        width: 150px;
        background-image: url(../../images/Ag.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
      }
    }
  }
}
