.home {
  .home-row {
    .background {
      height: 100vh;
      background-image: url(../../images/HomePage.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: right;
      align-items: center;

      .home-btn {
        margin-right: 6rem;
        margin-bottom: 25rem;
        padding: 1rem;
        font-size: 4rem;
        font-weight: bolder;
      }
    }
  }
  .card {
    .card-body {
      height: 5vh;
      margin: 2rem 0;
      text-align: center;
    }
  }
  .container {
    color: rgba(250, 184, 0, 0.924);
    background-color: rgb(85, 84, 83);
    border-radius: 2rem;
    font-size: 2.5vh;
    .about {
      height: 42vh;

      .about1 {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .about2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .card-group {
    padding: 2rem;

    .card {
      margin: 0;
      border: none;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .MohammadCard {
        background-image: url(../../images/Mo.jpg);
      }
      .AgathaCard {
        background-image: url(../../images/Ag.jpg);
      }
      .RodrigoCard {
        background-image: url(../../images/Ro.jpg);
      }
      .DavidCard {
        background-image: url(../../images/Da.jpg);
      }
      .card-img-top {
        height: 150px;
        width: 150px;
        // background-image: url(../../images/Ag.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
      }
    }
  }
}
