.teachers {
  .teachers-card {
    .teachers-title {
      text-align: center;
      background-color: rgba(250, 184, 0, 0.924);
    }
  }
  .teacher-page {
    .teacher-row {
      background-image: url(../../images/tbackg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 70vh;
      margin: 2rem 0;

      .forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .back-btn {
      background-color: rgba(218, 215, 208, 0.924);
      border: none;
      color: black;
      &:hover {
        background-color: rgba(179, 178, 176);
        color: black;
      }
    }
  }
}
