.teachers {
  .teachers-card {
    .teachers-title {
      text-align: center;
    }
  }
  .teacher-page {
    .teacher-row {
      background-image: url(../../images/tbackg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 80vh;
      margin: 2rem 0;

      .forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
