.appointments {
  .appointment-row {
    margin: 2rem 3rem;

    .btn {
      background-color: rgb(241, 129, 129);
      border: none;
      &:hover {
        background-color: rgb(236, 96, 96);
      }
    }
    .modal-footer {
      .btn-confirm {
        background-color: rgb(241, 129, 129);
        border: rgb(241, 129, 129);
        &:hover {
          background-color: rgb(236, 96, 96);
        }
      }
    }
  }
}
