.students {
  .students-card {
    .students-title {
      background-color: rgba(250, 184, 0, 0.924);
      text-align: center;
    }
  }
  .student-page {
    .student-row {
      background-image: url(../../images/sbackg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 70vh;
      margin: 2rem 0;

      .forms {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
    .back-btn {
      background-color: rgba(218, 215, 208, 0.924);
      border: none;
      color: black;
      box-shadow: none;
      &:hover {
        background-color: rgba(179, 178, 176);
        color: black;
      }
    }
  }
}
