.aboutUs {
  background-color: rgba(250, 184, 0, 0.924);
}

.card {
  background-color: rgba(250, 184, 0, 0.924);
  .card-body {
    height: 5vh;
    margin: 2rem 0;
    text-align: center;
  }
}

.container {
  color: rgba(250, 184, 0, 0.924);
  background-color: rgb(85, 84, 83);
  border-radius: 2rem;
  font-size: 2.5vh;

  .about {
    height: 42vh;

    .about1 {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.card-group {
  padding: 2rem;

  .card {
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .MohammadCard {
      background-image: url(../../images/Mo.jpg);
    }
    .AgathaCard {
      background-image: url(../../images/Ag.jpg);
    }
    .RodrigoCard {
      background-image: url(../../images/Ro.jpg);
    }
    .DavidCard {
      background-image: url(../../images/Da.jpg);
    }
    .card-img-top {
      height: 150px;
      width: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
  }
}
// // Media queries for mobile screens
// @media (max-width: 767px) {
//   .card {
//     flex-direction: column;
//     align-items: center;
//     text-align: center;

//     .card-img-top {
//       margin-bottom: 1rem;
//     }
//   }
// }

// // Media queries for desktop screens
// @media (min-width: 768px) {
//   .card-group {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//     grid-gap: 2rem;
//   }
// }
