.av-header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  .back-btn {
    background-color: rgba(218, 215, 208, 0.924);
    border: none;
    color: black;
    &:hover {
      background-color: rgba(179, 178, 176, 0.924);
      color: black;
    }
  }
}

ul {
  li {
    list-style: none;
    padding: 0.5rem;

    .selectedTime {
      color: black;
      margin-right: 0.5rem;
      background-color: rgba(250, 184, 0, 0.924);
      border: none;

      &:hover {
        background-color: black;
        color: white;
      }
      &:focus {
        background-color: black;
        color: white;
      }
    }

    //color of the checked input
    .form-check-input:checked {
      background-color: rgba(250, 184, 0, 0.924);
      border-color: rgba(250, 184, 0, 0.924);
      box-shadow: none;
    }
    .form-check-input:active {
      background-color: rgba(250, 184, 0, 0.924);

      box-shadow: none;
    }
  }
}

.confirm-btn {
  margin-right: 0.5rem;
  background-color: rgba(250, 184, 0, 0.924);
  border: none;
  color: black;
  &:hover {
    background-color: black;
    color: white;
  }
  // color for the disabled confirm button
}
.btn:disabled {
  background-color: rgba(250, 184, 0, 0.924);
  color: black;
}
