.forms {
  h5 {
    a {
      margin-left: 0.2rem;
      color: rgb(34, 34, 34);
    }
    a:active {
      color: rgba(250, 184, 0, 0.924);
    }
  }
  .input-container {
    margin-bottom: 0.5rem;
    width: 450px;

    .list-group-item {
      background-color: rgba(250, 184, 0, 0.924);
    }
  }
  select:invalid {
    color: #666;
  }

  .btn {
    background-color: rgba(250, 184, 0, 0.924);
    border: none;
  }
}
